:root {
  --color-1: #606060;
  --color-2: #2c3134;
  --color-3: #f5a607;
  --color-4: #ffff;
  --color-5: #016b6b;
  --color-6: #fafafa;
  --color-7: #818181;
  --color-8: #a9a9a9;

  --bg-color-1: #d3d3d3;
  --bg-color-2: #016b6b;
  --bg-color-3: #ffffff;
  --bg-color-4: #fdefd6;
  --bg-color-5: #fdab07;
  --bg-color-6: #fafafa;
  --bg-color-7: #ece8da;
  --bg-color-8: #f3efef61; /*hover*/
  --bg-color-9: #f7f9f9;
  --bg-color-10: #023939;
  --bg-color-11: #f8f6f1;
  --bg-color-12: #b5d1ca;
  --bg-color-13: #fdd55b;
  --bg-color-14: #272727;
  --bg-color-15: #757575;

  /* font-size */
  --fs-1: 15px;
  --fs-2: 16px;
  --fs-3: 20px;
  --fs-4: 24px;
  --fs-5: 30px;
  --fs-6: 35px;
  --fs-7: 40px;
  --fs-8: 45px;
  --fs-9: 50px;

  --font-size-h3: clamp(24px, calc(1.5rem + ((1vw - 3.2px) * 1.625)), 50px);
  min-height: 0vw;

  --font-size-h2: clamp(24px, calc(1.5rem + ((1vw - 3.2px) * 2.1687)), 60px);
  min-height: 0vw;
}

/* ======= ⁡⁣⁣⁢Title and Text⁡ ======= */
.title-h3 {
  font-size: var(--font-size-h3);
}
.title-h2 {
  font-size: var(--font-size-h2);
}

/* ===== Body ===== */
body {
  font-family: "Kanit", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: var(--fs-2);
  font-weight: 300;
  line-height: 1.6;

  color: var(--color-1);
  background: #fafafa;
}

h2,
h3 {
  font-size: var(--font-size);
  color: var(--color-2);
  font-weight: 600;
  text-shadow: 2px 2px 2px #070707a1;
}

p {
  font-size: var(--fs-3);
}

@media (max-width: 800px) {
  p {
    font-size: var(--fs-2);
    text-align: justify;
  }
}

.title__color {
  color: var(--color-3);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.container--help {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: initial;
  /* font-size: 20px; */
}

/* logo */
.logo > a {
  font-size: 30px;
  font-weight: 600;
}

/* ===== Btn ===== */
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 0;
}

.btn--dark-green {
  fill: var(--bg-color-4);
  font-size: 20px;
  font-weight: 400;
  color: var(--color-4);
  padding: 20px 20px 20px 20px;
  margin: 4px 6px;
  border-radius: 13px;
  background: linear-gradient(90deg, #19343d, #39848e);
  box-shadow: 3px 3px 6px 0px #00000066;
}

.btn--dark-green:hover {
  background: linear-gradient(#39848e, #19343d);
}

.btn--dark-green__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  font-size: 35px;
  font-weight: 400;
  color: var(--color-4);
  border-radius: 50%;
  margin-left: 40px;
  background: linear-gradient(90deg, #19343d, #39848e);
}

.btn--dark-green:hover {
}

/* === media btn === */
@media (max-width: 767px) {
  .btn--dark-green {
    font-size: var(--fs-2);
    padding: 13px;
    border-radius: 10px;
  }

  .btn--dark-green__icon {
    width: 25px;
    height: 25px;
    font-size: 25px;

    margin-left: 20px;
  }
}

/* == btn-card == */

.btn-card {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-2);
}

.btn-card__icon {
  margin-left: 10px;
  font-weight: 700;
}

/* === media btn === */
@media (max-width: 767px) {
}

/* +++++++++++++++++++++++⁡⁣⁣⁢  Button play video⁡ ++++++++++++++++++++ */
.video-wrapper {
  margin-top: 20px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 50vh; */
  /* background: rgba(34, 34, 34, 0.695); */
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #d2e8e8;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: #afd0d0fe;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  top: 10px;
  left: 7px;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 15px solid #018585;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #d2e8e8;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #d2e8e8;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#d2e8e8, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  top: 10px;
  left: 7px;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 15px solid #018585;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  /* border-radius: 5px 5px 5px 5px; */
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

/* ================ ⁡⁣⁣⁢End⁡ ============= */

/* Style */
/* Header */
/* .header{
  background:#fafafa;
} */

.nav-bar {
  width: 100%;
  min-height: 65px;
  display: flex;
  align-items: center;
}

.nav__menu {
  display: flex;
  align-items: center;

  padding: 20px 0;
  margin-left: auto;
}
.nav__menu-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav__menu-item {
  padding: 3px 12px;
}

.nav__menu-link {
  font-size: 20px;
  transition: 350ms;
}
.nav__menu-link:hover {
  cursor: pointer;
  border-bottom: 3px solid;
  text-align: center;
}

.nav__menu-link__aktiv {
  font-weight: 400;
  color: var(--color-5);
}

/* mobaile bottn */

.open-slide {
  display: none;
  margin-left: auto;
}

.closebtn {
  color: var(--color-6);
}
.nav__menu {
}

.closebtn {
  display: none;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: var(--color-6);
}

/* _____________________________________________⁡⁣⁣⁢media⁡____________________________________________________ */

@media (max-width: 880px) {
  .nav__menu-item {
    padding: 3px 6px;
  }
}
@media (max-width: 780px) {
  .nav__menu .closebtn {
    display: block;

    top: 15px;
    right: 35px;
    transition: 0.3s;
  }
}

@media (max-width: 780px) {
  .nav__menu {
    flex-direction: column;
    align-items: center;
    justify-content: start;

    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 50;
  }

  .nav__menu-item {
    padding: 7px 12px;
  }

  .nav__menu-items {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
  }

  .nav__menu .nav__menu-link {
    font-size: 35px;
    width: 100%;
    color: var(--color-7);
    transition: 0.3s;
  }
  .open-slide {
    display: block;
  }
}

/* ============================== ⁡⁣⁣⁢Section Hoom⁡ ============================== */
.home {
  padding-top: 50px;
  padding-bottom: 30px;
}
/* .home-bg {
  background-color: #;
} */

/* .home-items  */
.home-items {
  width: 100%;
  display: flex;
  align-items: start;
}

/* .home-item__text */
.home-item__text {
  display: flex;
  flex-direction: column;

  width: 55%;
  padding: 0 5px 5px 0;
}

.home-item__text__h2 {
  margin-bottom: 40px;
}

.home-item__text__p {
  font-size: 22px;

  padding-bottom: 10px;
  margin-bottom: 30px;
}

/* everything done */
.everything-done-items {
  padding-top: 30px;
  display: flex;
  align-items: center;
}
.everything-done-item:first-child {
  margin-left: 0;
}
.everything-done-wrapper {
  display: flex;
  align-items: center;
}
.everything-done-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 40px 20px 40px;
}

.everything-done-item__p-1 {
  font-size: 45px;
  font-weight: 600;
  color: var(--color-2);
  margin-bottom: 30px;
}
.everything-done-item__p-2 {
  font-size: 20px;
  color: var(--color-1);
}
.everything-done-item__line {
  width: 4px;
  height: 40px;
  background-color: var(--bg-color-1);
}

/* ====== video youtube======= */
.home-item__video {
  width: 45%;
  padding: 20px 5px 5px 5px;
}

/* iframe */
/* .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
} */
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border-radius: 15px;
  border: 10px solid #014949;
  outline: none;
}

/*   btn-play youtube. */

.btn-play {
  position: absolute;
  top: 39.5555555%;
  left: 45%;
  bottom: 0;

  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* button  play*/
@media (max-width: 860px) {
  .home-items {
    flex-direction: column;
    align-items: center;
  }

  .home-item__text,
  .home-item__video {
    width: 100%;
  }
  .home-item__text {
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 1120px) {
  .home-item__text__h2 {
    letter-spacing: -0.8px;

    margin-bottom: 40px;
  }
}

@media (max-width: 680px) {
  .home-item__text__h2 {
    margin-bottom: 20px;
  }

  .home-item__text__p {
    font-size: 16px;
    text-align: justify;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .everything-done-item__p-1 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .everything-done-item__p-2 {
    font-size: 14px;
  }

  .everything-done-item {
    margin: 8px 5px 8px 5px;
  }

  .everything-done-item:first-child {
    margin: 8px 5px 8px 5px;
  }
  .home {
    padding-top: 20px;
  }
}

@media (max-width: 520px) {
  .home-item__text__h2 {
    margin-bottom: 14px;
  }
}

/* ================ ⁡⁣⁣⁢Section  About⁡ ====================== */
.about {
}

.about-bg {
  background: var(--bg-color-3);
}

.about-items {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}

/* title */
.about-item__title-block {
  padding-bottom: 70px;
}
.about-item__title-block__h3 {
  text-align: center;
}

.about-block__wrapper {
  display: flex;
}
.about-item__video-block {
  width: 50%;
}

.about-item__text-block {
  width: 50%;
  display: flex;
  flex-direction: column;

  padding: 15px 40px;
}
.about-item__text-block__p {
  padding-bottom: 20px;
}
.about-item__text-block__items {
}
.about-item__text-block__item {
  position: relative;
  top: 0;
  left: 0;

  padding-left: 43px;
  padding-bottom: 20px;
}

.about-item__text-block__item::after {
  position: absolute;
  top: 0;
  left: 0;

  content: "✓";
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: var(--color-4);
  width: 30px;
  height: 30px;
  padding: 3px 5px;
  border: 4px solid var(--bg-color-4);
  border-radius: 50%;
  background: var(--bg-color-5);
}

@media (max-width: 860px) {
  .about-block__wrapper {
    flex-direction: column;
  }
  .about-item__video-block,
  .about-item__text-block {
    width: 100%;
  }

  .about-item__video-block {
    padding-bottom: 20px;
  }

  .about-item__text-block {
    padding: 15px 0px;
  }
}

@media (max-width: 520px) {
}

@media (max-width: 680px) {
  .about-items {
    padding: 20px 0;
  }

  .about-item__title-block {
    padding-bottom: 20px;
  }
}

/* ⁡⁣⁣⁢ =======  Section Sourcse =======⁡*/

⁡ .sourcse {
  padding-top: 80px;
  padding-bottom: 80px;
}

.sourcse-items {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;
}
.sourcse-item__text {
  width: 65%;
  text-align: center;
}
.sourcse-item__text__h3 {
  font-size: 50px;
  padding-bottom: 20px;
}

.sourcse__wrapper {
}

/* ⁡⁣⁣========= ⁢accordion⁡ ======== */
.sourcse-accordion {
  width: 50%;
}

/* ============= Section programs⁡ ========== */
.programs {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-programs {
  background: var(--bg-color-3);
}
.programs__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*title   text */
.programs-text {
  width: 65%;
  padding-bottom: 40px;
}
.programs-text__h3 {
  text-align: center;
  padding-bottom: 20px;
}
.programs-text__p {
  text-align: center;
}

/* video */
.programs-video {
  padding-bottom: 40px;
}

.programs-video__wrapper {
  width: 100%;
  min-height: 20%;
}

.img-video-3 {
  /* max-width: 100vw; */
  object-fit: contain;
}

/* ______tabs______  */

/* Style the tab */
.tab {
  display: flex;
  overflow: hidden;
  margin-bottom: 40px;
  background-color: var(--bg-color-3);
}

/* Style the buttons inside the tab */
.tab button {
  flex: 1 1 25%;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 30px;
  font-weight: 300;
  border-bottom: 5px solid var(--bg-color-1);
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--bg-color-8);
}

/* Create an active/current tablink class */
.tab button.active {
  font-weight: 500;
  color: var(--bg-color-2);
  border-bottom: 5px solid var(--color-5);
}

/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 6px 12px; */
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1.5s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* block */
.block {
  display: flex;

  padding: 21px;
  background: var(--bg-color-7);
  border-radius: 20px;
}

.block__wrapper__img {
  flex: 1 1 38%;
  border-radius: 15px;
}
.block__img {
  min-width: 300px;
  border-radius: 15px;
  object-fit: cover;
}

.block__items {
  display: flex;
  flex-direction: column;

  flex: 1 1 60%;
  padding: 20px 30px 20px 30px;
}

.block__item__h3 {
  font-size: 35px;
}
.block__item__p-1 {
  padding-bottom: 10px;
}

.block__item__p-2 {
  position: relative;
  padding-left: 40px;
  padding-bottom: 10px;
}

.block__item__p__icon-2::after {
  position: absolute;
  top: 0;
  left: 0;

  content: "✓";
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: var(--color-4);
  width: 30px;
  height: 30px;
  padding: 3px 5px;
  border: 4px solid var(--bg-color-4);
  border-radius: 50%;
  background: var(--bg-color-5);
}

.block__item__from {
  font-size: 20px;
  color: var(--color-2);
  margin-bottom: 20px;
}
.block__item__from__span {
  font-weight: 700;
}

/* media tabs */
@media (max-width: 1000px) {
  .block {
    flex-direction: column;
    align-items: center;

    padding: 10px 15px;

    border-radius: 15px;
  }

  .block__items {
    display: flex;
    flex-direction: column;

    flex: 1 1 100%;
    padding: 10px 15px 10px 15px;
  }
  .block__wrapper__img {
    flex: 1 1 100%;
  }

  .block__img {
    min-width: 300px;
  }
}

@media (max-width: 800px) {
  .tab button {
    padding: 5px;
    font-size: 24px;
    border-bottom: 3px solid var(--bg-color-1);
  }

  .tab button.active {
    border-bottom: 3px solid var(--color-5);
  }

  .block__item__p-1,
  .block__item__p-2 {
    font-size: inherit;
  }

  .block__item__h3 {
    font-size: 25px;
  }

  .block__item__from {
    font-size: inherit;
    color: var(--color-2);
    margin-bottom: 10px;
  }
}

@media (max-width: 570px) {
  .tab button {
    padding: 3px;

    font-size: 20px;
  }
}

@media (max-width: 370px) {
  .tab button {
    padding: 2px;

    font-size: 19px;
  }
}

@media (max-width: 370px) {
  .tab button {
    padding: 2px;
    font-size: 16px;
  }
}

/* +++++++++++++++++ media programs +++++++++++++++  */

@media (max-width: 1000px) {
  .programs-text {
    width: 95%;
    padding-bottom: 40px;
  }

  .programs-text__p {
    text-align: center;
  }
}

@media (max-width: 780px) {
  .programs {
    padding: 20px 0;
  }
}

/* ============= Section Help ================ */

.help {
  padding: 80px 0;
}

.bg-help {
  background-color: var(--bg-color-6);
}

/* .help-wrapper {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
} */

.help-block-left {
  width: 38%;
  padding-bottom: 8%;
  margin-right: 2%;
}

/* text */
.help-text {
  display: flex;
  flex-direction: column;
}

.help-text__h3 {
  text-align: left;
  padding-bottom: 40px;
}

.help-text__p {
  /* text-align: justify; */
  padding-bottom: 30px;
}

/* wrapper btn */
.help-text__wrapper-btn {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

/* arrows */

.help-arrows {
  display: inline-flex;
}

.help-arrows__left {
  transform: rotate(180deg);
}

.help-arrows__right,
.help-arrows__left {
  display: block;
  width: 80px;
  height: 80px;
}

/*========== media help ======== */

@media (max-width: 1000px) {
  .help-text__h3 {
    padding-bottom: 20px;
  }
}

@media (max-width: 680px) {
  .help-text__h3 {
    padding-bottom: 20px;
  }

  .help {
    padding: 20px 0;
  }
}

/*=== slider === */
.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
  /* border: 1px solid brown; */
}

.slider__container {
  width: 65%;
  overflow: hidden;
  /* border: 2px solid brown; */
}

/* == card == */
.slider-card {
  min-width: 300px;
  max-width: 380px;
  min-height: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--bg-color-7);
  overflow: hidden;
  box-shadow: 3px 3px 6px 0px #00000066;
}

.slider-card__bg {
  border-radius: 15px;
  background-color: var(--bg-color-3);
}
.slider-card__wrapper-img {
  border-radius: 20px;
}

.slider-card__img {
  border-radius: 15px 15px 0 0;
}

.slider-card__wrapper-text-bar {
  padding: 20px 20px;
}

.slider-card__text {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* flex-direction: column; */

  padding-bottom: 20px;
}

/* === text === */
.slider-card__text__project-name-on {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-2);
}

/* == line == */
.slider-card__text__line {
  width: 2px;
  height: 30px;
  margin: 2px 16px;
  background-color: var(--bg-color-1);
}

.slider-card__text__project-name-two {
  font-size: 20px;
  color: var(--color-2);
}

.slider-card__text__p {
  font-size: 17px;
}
.slider-card__progress-bar {
  margin-top: 40px;
}

.slider-card__progress-bar__wrapper-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*  === numbers === */
.slider-card__progress-bar__number-1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-2);
}

.slider-card__progress-bar__number-2 {
  font-size: 20px;
  font-weight: 400;
  padding: 0 1%;
  color: var(--color-2);
  margin-left: 7%;
}

.slider-card__progress-bar__number-3 {
  font-size: 20px;
  color: var(--color-7);
}

/* === bar === */
.slider-card__progress-bar__items {
  width: 100%;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
}

.slider-card__progress-bar__item__left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: 50%;
  height: 40px;
  border-radius: 12px 0 0 12px;
  background-color: var(--bg-color-10);
  z-index: 18;
}

.slider-card__progress-bar__item__right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 50%;
  height: 40px;
  border-radius: 0 12px 12px 0;
  background-color: var(--bg-color-9);
  z-index: 18;
}
.slider-card__progress-bar__item__line {
  position: relative;
  top: 2px;
  left: 48%;
  bottom: 0;

  width: 10px;
  height: 35px;
  /* margin: 0 50% 0 50%; */
  border-radius: 5px;
  background-color: var(--bg-color-3);
  box-shadow: 1px 1px 5px #000000b3;
  z-index: 20;
  overflow: hidden;
}

.slider-card__progress-bar__item__line::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  contain: " ";
  width: 40px;
  height: 40px;
  background-color: var(--bg-color-2);
}

.slider-card__btn-likes {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-card__likes {
  display: flex;
  align-items: center;
}

.slider-card__likes__icon {
  width: 20px;
  height: 30px;
  margin: 0 10px;
}
.slider-card__likes__number {
  font-size: 20px;
  line-height: 1;
  color: var(--color-2);
}

@media (max-width: 1199px) {
  .slider {
    flex-direction: column;
    align-items: center;
  }
  .slider__container {
    width: 100%;
  }
  .help-block-left {
    width: 90%;
    padding-bottom: 5%;
    margin-right: 0;
  }

  .help-text {
    align-items: center;
  }
  .help-text__wrapper-btn {
    width: 100%;

    justify-content: space-evenly;
  }

  .btn--dark-green {
    margin-right: 0;
  }

  /* .position-prev,
  .position-next {
    display: none;
  } */

  .position-prev {
    position: absolute;
    top: 68%;
    left: 95%;
    bottom: 0;
  }

  .position-next {
    position: absolute;
    top: 68%;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 900px) {
  .position-prev,
  .position-next {
    display: none;
  }
}

@media (max-width: 575px) {
  .slider-card {
    min-width: 250px;

    min-height: 240px;
    margin: 8px;
    padding: 15px;
    border-radius: 15px;
  }

  .slider-card__bg {
    border-radius: 13px;
  }

  .slider-card__img {
    border-radius: 13px 13px 0 0;
  }

  .slider-card__wrapper-text-bar {
    padding: 13px 13px;
  }

  /* === text === */
  .slider-card__text__project-name-on {
    font-size: 17px;
  }

  /* == line == */
  .slider-card__text__line {
    width: 2px;
    height: 25px;
    margin: 2px 10px;
  }

  .slider-card__progress-bar {
    margin-top: 15px;
  }

  /*  === numbers === */
  .slider-card__progress-bar__number-1 {
    font-size: 18px;
  }

  .slider-card__progress-bar__number-2 {
    font-size: 18px;

    padding: 0 1%;

    margin-left: 7%;
  }

  .slider-card__progress-bar__number-3 {
    font-size: 18px;
  }

  /*  === numbers === */
  .slider-card__progress-bar__number-1,
  .slider-card__progress-bar__number-3 {
    font-size: 16px;
  }

  .slider-card__progress-bar__number-2 {
    font-size: 16px;
    margin-left: 5%;
  }
  /* === bar === */
  .slider-card__progress-bar__items {
    height: 30px;
  }
  .slider-card__progress-bar__item__left,
  .slider-card__progress-bar__item__right {
    height: 30px;
  }
  .slider-card__progress-bar__item__line {
    position: relative;
    top: 2px;
    left: 47%;
    bottom: 0;

    width: 10px;
    height: 24px;
  }

  .slider__wrapper {
    width: 100%;
  }
}

@media (max-width: 379px) {
  .help-text__wrapper-btn {
    flex-direction: column;

    justify-content: space-evenly;
  }
}

/* =======⁡⁣⁢ ⁡⁢⁣⁡⁣⁣⁡⁢⁣⁢Section Statistics⁡⁡⁡ ====== */

.statistics {
  padding: 80px 0;
}

.statistics-bg {
  /* background-color: var(--bg-color-3); */
}

/* === .statistics block === */
.statistics-block {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.statistics-block__title {
  text-align: center;
  margin-bottom: 20px;
}

.statistics-block__p {
  text-align: center;
  margin-bottom: 10px;
}

.cards__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards__wrapper + * {
  flex-grow: 1;
  /* flex-shrink: 2; */
}

/*=== card === */
.card-statistics {
  position: relative;
  top: 1%;
  left: 1%;

  min-width: 300px;
  max-width: 32%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 35px;
  margin: 10px;
  border-radius: 15px;
  background-color: var(--bg-color-11);
  box-shadow: 3px 3px 6px 0px #00000066;
  z-index: -20;
}

.card__square-1 {
  position: absolute;
  top: 19%;
  left: 28%;

  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--bg-color-5);
  z-index: -20;
}

.card__number {
  font-size: 40px;
  color: var(--color-2);
  text-align: center;
}
.card__text {
  text-align: center;
}

.card__square-2 {
  position: absolute;
  top: 19%;
  left: 28%;

  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--bg-color-12);
  z-index: -20;
}

.card__square-3 {
  position: absolute;
  top: 19%;
  left: 28%;

  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--bg-color-13);
  z-index: -20;
}

@media (max-width: 1200px) {
  .cards__wrapper {
    flex-direction: column;
  }
  .cards__wrapper + * {
    flex-grow: 2;
    /* flex-shrink: 2; */
  }

  .card-statistics {
    max-width: 87%;
  }
  .card__square-1,
  .card__square-2,
  .card__square-3 {
    position: absolute;
    top: 23%;
    left: 35%;

    width: 40px;
    height: 40px;
  }
}

@media (max-width: 680px) {
  .statistics {
    padding: 20px 0;
  }
}
/* ⁢======= ⁡⁢⁣⁢Section Latest News⁡ ======= */

.latest-news {
  padding: 80px 0;
}

.latest-news__wrapper {
}

.latest-news-block {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 45px;
}

.latest-news-block__wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.latest-news__title {
}

.latest-news__p {
}

/* === cards === */
.latest-news-cards {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
/* === card === */
.latest-news-card {
  max-width: 32%;
  min-width: 300px;
  border-radius: 10px;
  border: 2px solid var(--bg-color-1);
  background-color: var(--bg-color-3);
}
.latest-news-card__wrapper-img {
  min-width: 250px;
}
.latest-news-card__img {
  border-radius: 9px;
}

.latest-news-card-items {
  padding-bottom: 40px;
  border-bottom: 2px solid var(--bg-color-1);
  margin-bottom: 5px;
}
.latest-news-card-item__title {
  font-size: var(--fs-5);
  font-weight: 600;
  line-height: 1.3;
  color: var(--color-2);
  margin-bottom: 10px;
}
.latest-news-card__wrapper {
  padding: 20px 17px;
}
.latest-news-card-item__text {
  font-size: var(--fs-3);
}
.latest-news-card-social {
  display: flex;
  align-items: center;
}
.latest-news-card-social__name {
  font-size: var(--fs-3);
}
.latest-news-card-social__share {
}

/* === media news === */
@media (max-width: 1200px) {
  .latest-news-block {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;
  }

  .latest-news-block__wrapper {
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-bottom: 20px;
  }

  .latest-news__title {
    text-align: cenetr;
    margin-bottom: 20px;
  }

  .latest-news__p {
    text-align: cenetr;
  }
}

/* === media cards === */
@media (max-width: 900px) {
  .latest-news-cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .latest-news-card {
    max-width: 49%;
    min-width: 300px;
    border-radius: 10px;
    border: 2px solid var(--bg-color-1);
    background-color: var(--bg-color-3);
  }
}

@media (max-width: 640px) {
  .latest-news-cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .latest-news-card {
    max-width: 100%;
  }
  .latest-news-card-items {
    padding-bottom: 30px;
  }
  .latest-news-card-item__title {
    font-size: var(--fs-4);
  }
  .latest-news-card__wrapper {
    padding: 15px 13px;
  }
  .latest-news-card-item__text,
  .latest-news-card-social__name {
    font-size: var(--fs-2);
  }
}

/* ======= ⁡⁢⁣⁢Footer⁡ ====== */

.footer {
  padding: 60px 0;
}
.footer-bg {
  background-color: var(--bg-color-14);
}

.footer-blocks {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-block-on {
  max-width: 27%;
  min-width: 270px;
  margin: 2px 5px;
}
.footer-block-on__h4 {
  font-size: var(--fs-5);
  font-weight: 400;
  color: var(--color-4);
  margin-bottom: 8px;
}
.footer-block-on__p {
  font-size: var(--fs-2);
  color: var(--color-8);
  margin-bottom: 29px;
}
.footer-block-on-social {
  max-width: 57%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-block-on-social > * {
  flex: none;
}

.footer-block-on-social__icon-t,
.footer-block-on-social__icon-f,
.footer-block-on-social__icon-i {
  width: 45px;
  height: 45px;
  border: 2px solid var(--bg-color-15);
  border-radius: 50%;
  font-size: var(--fs-4);
  line-height: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-4);
  margin: 3px;
}

.footer-block-two {
  display: flex;
  justify-content: space-between;
}

.footer-block-two__items {
  min-width: 100px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 0 10px 0;
}
.footer-block-two__items > * {
  flex: 2 2 33%;
}

.footer-block-two__item__text {
  font-size: var(--fs-4);
  color: var(--color-4);
}
.footer-block-two__item {
}
.footer-block-two__item__link {
  font-size: var(--fs-2);
  color: var(--color-8);
}

/* === media footer === */

@media (max-width: 680px) {
  .footer-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-block-on {
    max-width: 4%;
    min-width: 270px;
    margin: 2px 5px;
  }

  .footer-block-on-social {
    max-width: 100%;
    margin-bottom: 15px;
  }
}
